


.formular {
    background: linear-gradient(to right, #fff533, #479ff8);
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 1px solid #000000;
    width: 500px;
    height: 500px;
    border-radius: 4px;
    border: none;
    margin-right: 0;
    
}

.titlu {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}



.name input,
.password input,
.phoneAndDate input,
.cityCounty input,
.countryZip input {
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin: 5px 2px;
}

.email, .address{
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    width: 355px;
    margin: 5px 2px;
}

.terms {
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin: 5px 2px;
    width: 355px;
}

.SignInBtn {
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    background-color: #e9de18;
    border: 1px solid #000000;
    margin: 40px 140px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    transition: opacity 0.15s,
                background-color 0.15s;

}

.formular button:hover {
    background: linear-gradient(to right, #479ff8, #fff533);

}

.formular button:active {
    
    opacity: 0.7;
}